<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand" href="#">This is Sparta!!</h1>
  <nav class="navbar">
    <button mat-button [matMenuTriggerFor]="menu">Whatever</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Link 1</button>
      <button mat-menu-item>Link 2</button>
      <button mat-menu-item>Link 3</button>
      <!-- Add more menu items as needed -->
    </mat-menu>
    <button type="button">Links</button>
    <button type="button">You</button>
    <button type="button">Want</button>
    <button type="button">Here</button>
  </nav>

</nav>
